<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
<meta name="theme-color" content="#d3d3d3"/>
<meta name="description" content="RijksDigital Art App">
<link rel="shortcut icon" href="https://tomvdb.nl/images/favicon.ico">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
<link href="/style/style.css" rel="stylesheet"/>
<script defer src="/script/script.js"></script>
<link rel="manifest" href="/manifest.json">
<title>Art Museum</title>

