<header>
    <div>
        <a href="../"><img src="/images/logo.png" alt="logo"><h2>DIGITAL</h2></a>
        <form method="get" action="/search" >
            <input placeholder="Zoek een schilderij of kunstenaar" type="search" id="search" name="query" />
        </form>
    </div>
</header>