<!doctype html>
<html lang="en">
<head>
    <%- include('./components/head.ejs'); -%>
</head>
<body>
    <%- include('./components/header.ejs'); -%>
<main>
    <section class="singleArt">
            <div class="offline">
                <h3>Helaaaaaas je bent offline</h3>
            </div>
    </section>
</main>
</body>
</html>